<div class="profile-background">
    <div class="profile-title-container">
        <div class="profile-title-text-container">
            <p class="profile-title-text">
                Compte InoxQCB
            </p>
        </div>
        <hr class="profile-bar">
    </div>
    <div class="profile-card-container">
        <div class="profile-info-container">
            <div class="profile-square">
                <div class="profile-icon-container">
                    <img class="profile-icon" src="/header/template-user.png">
                </div>
                <div class="profile-text-container">
                    <p class="profile-name">{{ userName }}</p>
                    <p class="profile-email">{{ userEmail }}</p>
                    <p class="profile-grade">Moderateur</p>
                </div>
            </div>
        </div>
        <div class="profile-info-mdp-container">
            <div class="profile-mdp-container">
                <div class="profile-mdp-square">
                    <div class="profile-mdp-title-container">
                        <div class="profile-mdp-icon-container">
                            <img class="profile-mdp-icon" src="/profile/mdp.svg">
                        </div>
                        <div class="profile-mdp-text-container">
                            <p class="profile-mdp-text">Changer de mot de passe</p>
                        </div>
                    </div>
                    <div class="profile-inputs-container">
                        <input type="oldPassword" placeholder="Ancien mot de passe" class="input-field input-all" [(ngModel)]="changeMDPObj.oldPassword" /> 
                        <div class="input-with-button">
                            <input type="newPassword" placeholder="Nouveaux mot de passe" class="input-field input-all" [(ngModel)]="changeMDPObj.newPassword" (keydown.enter)="changeMDP()" /> 
                            <button class="input-button" (click)="changeMDP()">
                                <img src="/login/connect.svg">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-info-card-container">
                <div class="profile-info-card-row">
                    <div class="profile-info-card-square-container" style="justify-content: flex-start;">
                        <div class="profile-info-card">
                            <div class="profile-info-card-title-container">
                                <div class="profile-info-card-title-text-container">
                                    <p class="profile-info-card-title-text">Prénom</p>
                                </div>
                                <div class="profile-info-card-title-icon-container">
                                    <img class="profile-info-card-title-icon" src="/profile/prenom.svg">
                                </div>
                            </div>
                            <div class="profile-info-card-text-container">
                                <p class="profile-info-card-text">{{ userName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>