<div class="form" *ngIf="!isRegister">
    <div class="input-container">
        <div class="input">
            <label for="username">Username</label>
            <input id="username" type="text" pInputText [(ngModel)]="RegisterObj.username" />
        </div>
        <div class="input">
            <label for="email">E-mail</label>
            <input id="email" type="text" pInputText [(ngModel)]="RegisterObj.email" />
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input id="password" type="text" pInputText [(ngModel)]="RegisterObj.password" />
        </div>
    </div>
    <div class="link">
        <button (click)="onRegister()">Sign Up</button>
        <a (click)="goToLogin()">Already an account ?</a>
    </div>
</div>

<div class="form" *ngIf="isRegister">
    <div class="input-container">
        <div class="input">
            <label for="username">Email</label>
            <input id="emailLogin" type="text" pInputText [(ngModel)]="loginObj.email" />
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input id="passwordLogin" type="text" pInputText [(ngModel)]="loginObj.password" />
        </div>
        <button (click)="onLogin()">Login</button>
    </div>
</div>