.page {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/Kaizen_Inoxtag.jpg");
  display: flex;
  align-items: center;
  justify-content: end;
}

.form-container {
  margin-right: 25vh;
}