@font-face {
  font-family: 'Nexa Light';
  src: url('../public/font/Nexa-ExtraLight.ttf');
}

@font-face {
  font-family: 'Nexa Heavy';
  src: url('../public/font/Nexa-Heavy.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../public/font/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../public/font/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Fontspring-heavy';
  src: url('../public/font/Fontspring-heavy.otf');
}

@font-face {
  font-family: 'KaizenRegular';
  src: url('../public/font/UberMoveMedium.otf');
}

@font-face {
  font-family: 'KaizenBold';
  src: url('../public/font/UberMoveBold.otf');
}

@import '../node_modules/ngx-toastr/toastr.css';

.toast-success {
  background-color: #323236 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
}

.toast-error {
  background-color: #323236 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }