.home-background {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.home-background-image {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url('../../../public/homeImages/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-size: cover;
}

.home-background-image-blur {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url('../../../public/homeImages/background-blur.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-container-bar {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: center;
}

.button-spotify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border: none;
  background-color: #1db954;
  border-radius: 25px;
  color: 1db954;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.button-inox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 400px;
  border: none;
  background-color: #cf0707;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}