<div class="parent">
    <div class="tutorial">
        <h2 class="custom-heading">Ajouter un Area :</h2>
        <img class="mobile-app-img" src="tuto.png" alt="user">
    </div>
    <div class="stats">
        <h2 class="custom-heading">Statistiques :</h2>
    </div>
    <div class="app">
        <h2 class="custom-heading">L'application :</h2>
        <img class="mobile-app-img" src="mobile-screen.jpg" alt="user">
        <button class="submit-btn">Télécharge l'app !</button>
    </div>
    <div class="video">
        <div class="video-button-container">
            <button class="submit-btn" onclick="window.location.href='https://www.youtube.com/watch?v=wrFsapf0Enk';">Voir le documentaire</button>
        </div>
    </div>
</div>
