<div class="home-container">
    <div class="element-container">
        <div class="createArea-container">
            <button class="create-button">
                <div class="create-icon-container">
                    <img class="create-icon" src="/home/areas.svg">
                </div>
                <div class="create-text-container">
                    <p class="create-title">Créez votre aréa ideale avec le site InoxQCB</p>
                    <p class="create-text">Une area est la combinaison d’une action et d’une réaction, la reaction cacaboudin prout</p>
                </div>
                <div class="create-arrow-container">
                    <img class="create-arrow" src="/home/arrow-right.svg">
                </div>
            </button>
        </div>
        <div class="firstRow-container">
            <div class="profile-container">
                
            </div>
        </div>
        <div class="secondRow-container">
        
        </div>
    </div>
</div>
