.home-container {
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: center;
}

.element-container {
    display: flex;
    height: 100%;
    width: 65%;
    flex-direction: column;
    align-items: center;
}
// container with area creation big seciton

.createArea-container {
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

// first row with profile and areas sections

.firstRow-container {
    display: flex;
    height: 40%;
    width: 100%;
}

.profile-container {
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-square {
    display: flex;
    height: 95%;
    width: 95%;
    border-radius: 20px;
    flex-direction: column;
    background-color: #1E1E1E;
}

.profile-icon-container {
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.profile-icon {
    display: flex;
    height: 60%;
    width: auto;
    border-radius: 60px;
    margin-left: 8%;
}

.profile-text-container {
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
}

.profile-name {
    display: flex;
    font-size: 200%;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
    margin-left: 8%;
}

.profile-email {
    display: flex;
    color: #C4C4C4;
    font-size: 100%;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
    margin-left: 8%;

}

.profile-grade {
    display: flex;
    color: #FFFFFF;
    font-size: 120%;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
    margin-left: 8%;
    margin-top: 7%;
}

.areas-container {
    display: flex;
    height: 100%;
    width: 65%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.areas-square {
    display: flex;
    height: 95%;
    width: 98%;
    border-radius: 20px;
    background-image: url('/home/areas-bg.svg'); 
    background-size: cover;
    background-position: center;
}

// second row with servies and documentaire sections

.secondRow-container {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}

.service-container {
    display: flex;
    height: 100%;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.service-square {
    display: flex;
    height: 95%;
    width: 98%;
    border-radius: 20px;
    background-image: url('/home/areas-bg.svg'); 
    background-size: cover;
    background-position: center;
}

.docu-container {
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.docu-square {
    display: flex;
    height: 95%;
    width: 95%;
    border-radius: 20px;
    background-color: #1E1E1E;
}



.create-button {
    display: flex;
    height: 58%;
    width: 100%;
    border: none;
    align-items: center;
    border-radius: 20px;
    background-color: #1E1E1E;
    cursor: pointer;
}

.create-icon-container {
    display: flex;
    height: 100%;
    width: 8%;
    align-items: center;
}
.create-icon {
    display: flex;
    margin-left: 18%;
    height: 60%;
    width: auto;
}

.create-text-container {
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.create-title, .create-text {
    display: flex;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
}

.create-title {
    font-size: 120%;
}

.create-text {
    margin-top: 1%;
    color: #C4C4C4;
    font-size: 100%;
}

.create-arrow-container {
    display: flex;
    height: 100%;
    width: 12%;
    align-items: center;
    justify-content: center;
}

.create-arrow {
    display: flex;
    height: 45%;
    width: auto;
    margin-left: 40%;
}