.home-container {
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: center;
}

.element-container {
    display: flex;
    height: 100%;
    width: 65%;
    flex-direction: column;
    align-items: center;
}
// container with area creation big seciton

.createArea-container {
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.02);
    }
    &:active {
        transform: scale(1);
    }
}

// first row with profile and areas sections

.firstRow-container {
    display: flex;
    height: 40%;
    width: 100%;
}

.profile-container {
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-square {
    display: flex;
    height: 95%;
    width: 95%;
    border-radius: 20px;
    flex-direction: column;
    background-color: #1E1E1E;
}

.profile-icon-container {
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.profile-icon {
    display: flex;
    height: 60%;
    width: auto;
    border-radius: 60px;
    margin-left: 8%;
}

.profile-text-container {
    display: flex;
    width: 100%;
    height: 40%;
    flex-direction: column;
}

.profile-name {
    display: flex;
    font-size: 200%;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
    margin-left: 8%;
}

.profile-email {
    display: flex;
    color: #C4C4C4;
    font-size: 100%;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
    margin-left: 8%;

}

.profile-grade {
    display: flex;
    color: #FFFFFF;
    font-size: 120%;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
    margin-left: 8%;
    margin-top: 7%;
}

.areas-container {
    display: flex;
    height: 100%;
    width: 65%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.areas-square {
    display: flex;
    height: 95%;
    width: 98%;
    border-radius: 20px;
    background-image: url('/home/areas-bg.svg'); 
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.areas-hearder-square {
    display: flex;
    width: 100%;
    height: 27%;
    background-color: #1E1E1E;
    border-radius: 20px 20px 0 0;
}

.areas-icon-container {
    display: flex;
    height: 100%;
    width: 15%;
    align-items: center;
    justify-content: center;
}

.areas-icon {
    display: flex;
    height: 60%;
    width: auto;
}

.areas-text-container {
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.areas-title {
    display: flex;
    color: #FFFFFF;
    font-size: 140%;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
}

.areas-text {
    display: flex;
    color: #C4C4C4;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
}

.areas-add-container {
    display: flex;
    height: 100%;
    width: 10%;
    align-items: flex-start;
    justify-content: flex-end;
}

.area-add-button {
    display: flex;
    height: 40%;
    width: auto;
    background: none;
    border: none;
    margin-top: 30%;
    margin-right: 25%;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    &:active {
        transform: scale(1);
    }
}

.areas-list-empty-container {
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.areas-list-empty-text {
    display: flex;
    color: #C4C4C4;
    font-family: 'KaizenRegular';
}

.areas-list-container {
    display: flex;
    height: 60%;
    width: 100%;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center; 
    gap: 6%;
}

.separator {
    width: 2px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.separator-line {
    width: 90%;
    height: 90%;
    background-color: #1E1E1E;
    border: none;
}

.a-rea {
    display: flex;
    height: 25%;
    width: 90%;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
}

.areas-list-icon-container {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
}

.areas-list-icon-button {
    display: flex;
    height: 100%;
    width: 10%;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:hover {
        transform: scale(1.03);
        cursor: pointer;
    }
    &:active {
        transform: scale(1);
    }
}

// second row with servies and documentaire sections

.secondRow-container {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}

.service-container {
    display: flex;
    height: 100%;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.service-square {
    display: flex;
    height: 95%;
    width: 98%;
    border-radius: 20px;
    background-image: url('/home/areas-bg.svg'); 
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.service-list-container {
    display: flex;
    height: 73%;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
}

.service-prev-container {
    display: flex;
    height: 100%;
    width: 8%;
    justify-content: center;
    align-items: center;
}

.service-next-container {
    display: flex;
    height: 100%;
    width: 8%;
    justify-content: center;
    align-items: center;
}

.service-icons-container {
    display: flex;
    height: 100%;
    width: 84%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.service-item {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-icons {
    display: flex;
    height: 40%;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-name {
    display: flex;
    color: #FFFFFF;
    font-size: 120%;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
    margin-top: 10%;
}

.service-chevron-button {
    display: flex;
    height: 10%;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
  
.service-icons {
    display: flex;
    overflow: hidden;
}
  
.service-icons img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.docu-container {
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.02);
    }
    &:active {
        transform: scale(1);
    }
}

.docu-square {
    display: flex;
    height: 95%;
    width: 95%;
    border-radius: 20px;
    background-color: #1E1E1E;
    flex-direction: column;
}

.docu-hearder-square {
    display: flex;
    width: 100%;
    height: 27%;
    background-color: #1E1E1E;
    border-radius: 20px 20px 0 0;
    flex-direction: row;
}

.docu-button {
    display: flex;
    height: 73%;
    width: 100%;
    border: none;
    background-image: url('/home/docu.svg'); 
    background-size: 110%;
    background-position: center;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
}

.docu-icon-container {
    display: flex;
    height: 100%;
    width: 27%;
    align-items: center;
    justify-content: center;
}

.docu-icon {
    display: flex;
    height: 59%;
    width: auto;
}

.docu-text-container {
    display: flex;
    height: 100%;
    width: 73%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.docu-title {
    display: flex;
    color: #FFFFFF;
    font-size: 140%;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
}

.docu-text {
    display: flex;
    color: #C4C4C4;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
}

.create-button {
    display: flex;
    height: 58%;
    width: 100%;
    border: none;
    align-items: center;
    border-radius: 20px;
    background-color: #1E1E1E;
    cursor: pointer;
}

.create-icon-container {
    display: flex;
    height: 100%;
    width: 8%;
    align-items: center;
}
.create-icon {
    display: flex;
    margin-left: 18%;
    height: 60%;
    width: auto;
}

.create-text-container {
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.create-title, .create-text {
    display: flex;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    margin: 0;
    padding: 0;
}

.create-title {
    font-size: 120%;
}

.create-text {
    margin-top: 1%;
    color: #C4C4C4;
    font-size: 100%;
}

.create-arrow-container {
    display: flex;
    height: 100%;
    width: 12%;
    align-items: center;
    justify-content: center;
}

.create-arrow {
    display: flex;
    height: 45%;
    width: auto;
    margin-left: 40%;
}