.login-service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 4px;
  border-radius: 10px;
}

.logo-service {
  height: 20%;
  width: auto;
  margin-bottom: 10px;
}

.text-button-style-api {
  font-family: 'KaizenRegular';
  font-size: 16px;
  color: #ffffff;
}