.page {
  background-image: url('../../../public/homeImages/background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
}