<!--<div class="choose-area-page">
    <div class="choose-service">
        <div class="title-choice">
            <p> Choisie Ton Action</p>
        </div>
        <div class="choices-container">
            <app-choice-button *ngFor="let x of actions"
                                   [choiceLogo]="chooseIcon(x.service)"
                                   [choiceTitle]="x.label"
                                   (sendChoice)="setAction($event)"
                                   class="choices">
            </app-choice-button>
        </div>
    </div>
    <div class="area-preview">
        <div class="title-area-choose">
            <p>Voici ton A-Rea</p>
            <label for="area-name">Choisie lui un nom</label>
            <input id="area-name" type="text" [(ngModel)]="areaObj.area_title"/>
            <label for="area-description">Décris ton A-REA</label>
            <input id="area-description" type="text" [(ngModel)]="areaObj.area_description"/>
        </div>
        <div class="area-choose">
            <div class="area-choose-eventpart">
                <app-choice-button *ngIf="areaObj.action_name"
                                   [choiceLogo]="chooseIcon(areaObj.action_platform)"
                                   [choiceTitle]="areaObj.action_name"
                                   (sendChoice)="setAction($event)"
                                    class="choices">
                </app-choice-button>
            </div>
            <div>
                <span class="arrow">→</span>
            </div>
            <div class="area-choose-eventpart">
                <app-choice-button *ngIf="areaObj.reaction_name"
                                   [choiceLogo]="chooseIcon(areaObj.reaction_platform)"
                                   [choiceTitle]="areaObj.reaction_name"
                                   (sendChoice)="setReaction($event)"
                                    class="choices">
                </app-choice-button>
            </div>
        </div>
        <div class="utils-container">
            <button (click)="resetSelection()">cancel</button>
            <button (click)="approveSelection()">ok</button>
        </div>
    </div>
    <div class="choose-service">
        <div class="title-choice">
            <p> Choisie Ta Réaction</p>
        </div>
        <div class="choices-container">
            <app-choice-button *ngFor="let x of reactions"
                               [choiceLogo]="chooseIcon(x.service)"
                               [choiceTitle]="x.label"
                               (sendChoice)="setReaction($event)"
                               class="choices">
            </app-choice-button>
        </div>
    </div>
</div>-->

<div class="parent">
    <div class="div1"> </div>
    <div class="div2"> </div>
    <div class="div3"> </div>
    <div class="div4"> </div>
    <div class="div5"> </div>
</div>