.a-rea-page {
  display: flex;
  width: 100%;
  background-color: #151515;
  height: 95%;
}

.display-a-rea {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 2px solid #000;
}

.add-a-rea {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  box-sizing: border-box;
  padding: 5vh;
}

.actions { grid-area: 1 / 1 / 6 / 2; }
.display { grid-area: 1 / 2 / 6 / 3; }
.reactions { grid-area: 1 / 3 / 6 / 4; }

.actions, .title-a-rea, .display, .tuto, .reactions {
  background-color: rgba(50, 50, 54, 0.81);
  display: flex;
  border-radius: 1rem;
  margin: 1rem;
}

.actions, .reactions {
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
}

.confing-a-rea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.separator {
  width: 95%;
  margin-left: 5%;
  border-top: 1px solid rgba(204, 204, 204, 0.2);
}

.title-a-rea-container, .description-a-rea-container, .action-preview, .reaction-preview, .approve-selection {
  display: flex;
  flex-direction: column;
  background-color: #1C1C1E;
  border-radius: 2vh;
  p {
    margin-left: 5%;
    color: white;
    font-size: larger;
    font-family: "Poppins-Medium";
  }
  margin: 1%;
}

.title-a-rea-container {
  height: 15%;
  width: 80%;
}

.description-a-rea-container {
  height: 20%;
  width: 80%;
}

.area-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 80%;
}

.action-preview, .reaction-preview {
  height: 100%;
  width: 100%;
}

.action-preview {
  margin-bottom: 2%;
}

.reaction-preview {
  margin-top: 2%;
}

.approve-selection {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 5%
}

.approve-selection:hover {
  cursor: pointer;
  background-color: #151515;
}

.approve-selection:active {
  background-color: #1C1C1E;
}

.title-choice, .title-preview {
  display: flex;
  align-items: center;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  .title-actions, .title-réactions {
    font-family: "Poppins-Medium";
    color: white;
    font-size: x-large;
  }
  .subtitle-actions, .subtitle-réactions {
    font-family: "Poppins-Regular";
    color: white;
  }
  p {
    all: unset;
  }
  background-color: #1E1E1E;
}

.title-choice {
  height: 10%;
}

.title-preview {
  height: 11%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 20%;
  margin: 1rem;
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 90%;
  width: 90%;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.choices-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title-a-rea-input, .description-a-rea-input {
  text-align: left;
  all: unset;
  font-family: "Poppins-Medium";
}

.title-a-rea-input, .description-a-rea-input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  resize: none;
  box-sizing: border-box;
  margin-left: 5%;
  padding-top: 2%;
  color: white;
}

.title-a-rea-input::placeholder,.description-a-rea-input::placeholder {
  color: white;
  font-family: "Poppins-Medium";
  font-style: italic;
}

//.refresh-title-container {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 7%;
//  background-color: rgba(176, 186, 195, 0.4);
//  border-radius: 1vh;
//}

//.refresh-title {
//  color: #B0BAC3;
//}

//.refresh-title-container:hover {
//  background-color: rgba(176, 186, 195);
//  .refresh-title {
//    color: white;
//  }
//}

//.refresh-title-container:active {
//  background-color: rgba(176, 186, 195, 0.4);
//  .refresh-title {
//    color: #B0BAC3;
//  }
//}