.a-rea-page {
  display: flex;
  width: 100%;
  background-color: #151515;
  height: 95%;
  align-items: center;
  justify-content: center;
}

.display-a-rea {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  border-right: 2px solid #000;
  align-items: center;
}

.a-reas-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: scroll;
}

.a-rea {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  padding-top: 5%;
}

.add-a-rea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 95%;
  flex: 4;
  margin: 5%;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 27%;
  height: 100%;
}

.display {
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 100%;
}

.reactions {
  display: flex;
  flex-direction: column;
  width: 27%;
  height: 100%;
}

.actions, .title-a-rea, .display, .reactions {
  background-color: rgba(50, 50, 54, 0.81);
  display: flex;
  border-radius: 1rem;
  margin: 1rem;
}

.actions, .reactions {
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
}

.confing-a-rea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.separator {
  width: 95%;
  margin-left: 5%;
  border-top: 1px solid rgba(204, 204, 204, 0.2);
}

.title-a-rea-container, .description-a-rea-container, .action-preview, .reaction-preview, .approve-selection {
  display: flex;
  flex-direction: column;
  background-color: #1C1C1E;
  border-radius: 2vh;
  margin: 2%;
  p {
    margin-left: 5%;
    color: white;
    font-size: larger;
    font-family: "KaizenRegular";;
  }
}

.title-a-rea-container {
  height: 15%;
  width: 90%;
  margin-top: 2%;
  .separator {
    margin-top: -2%;
  }
}

.description-a-rea-container {
  height: 20%;
  width: 90%;
}

.area-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 90%;
}

.action-preview, .reaction-preview {
  width: 100%;
  height: 100%;
}

.approve-selection {
  display: flex;
  width: 90%;
  height: 10%;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.approve-selection:hover {
  cursor: pointer;
  background-color: #151515;
  transition: all 0.3s ease-in-out;
  transform: scale(1.04);
}

.approve-selection:active {
  background-color: #1C1C1E;
}

.title-choice, .title-preview {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  .title-actions, .title-réactions {
    font-family: "KaizenRegular";;
    color: white;
    font-size: x-large;
  }
  .subtitle-actions, .subtitle-réactions {
    font-family: "Poppins-Regular";
    color: white;
  }
  p {
    all: unset;
  }
  background-color: #1E1E1E;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 20%;
  margin: 1rem;
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 90%;
  width: 90%;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.choices-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 4s ease-in-out;
}

.title-a-rea-input, .description-a-rea-input {
  text-align: left;
  all: unset;
  font-family: "KaizenRegular";;
  resize: none;
  line-height: 1;
  overflow-wrap: break-word;
  overflow: auto;
  width: 30%;
}

.title-a-rea-input, .description-a-rea-input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  resize: none;
  box-sizing: border-box;
  padding-top: 2%;
  padding-left: 5%;
  color: white;
}

.title-a-rea-input::placeholder,.description-a-rea-input::placeholder {
  color: white;
  font-family: "KaizenRegular";;
  font-style: italic;
}

.ellipsis {
  color: white;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

//.refresh-title-container {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 7%;
//  background-color: rgba(176, 186, 195, 0.4);
//  border-radius: 1vh;
//}

//.refresh-title {
//  color: #B0BAC3;
//}

//.refresh-title-container:hover {
//  background-color: rgba(176, 186, 195);
//  .refresh-title {
//    color: white;
//  }
//}

//.refresh-title-container:active {
//  background-color: rgba(176, 186, 195, 0.4);
//  .refresh-title {
//    color: #B0BAC3;
//  }
//}