<div class="add-area-button-container">
    <button class="add-area">+</button>
</div>
<app-a-rea 
    [actionLogo]="'https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_Green.png'"
    [reactionLogo]="'https://cdn.worldvectorlogo.com/logos/discord-6.svg'"
    [actionText]="'a-rea works!'"
    [reactionText]="'a-rea works again!'">
</app-a-rea>
<app-a-rea 
    [actionLogo]="'https://img.icons8.com/?size=100&id=19318&format=png&color=000000'"
    [reactionLogo]="'https://img.icons8.com/?size=100&id=ExmpQwXedb89&format=png&color=000000'"
    [actionText]="'a-rea works!'"
    [reactionText]="'a-rea works again!'">
</app-a-rea>

<app-add-area></app-add-area>