.add-area-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3%;
  height: 100%;
}

.add-area {
  background-color: #3a3aff;
  color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.areas-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0.5rem;
}
