<div class="center-header">
    <div class="header-container">
        <div class="logo-title-container">
            <img class="logo" src="logo.png" alt="logo">
            <h1 class="title-text">Inox QCB</h1>
        </div>
        <div class="navigation-button-container">
            <button class="navigation-button">
                <p class="text-navigation-button">Home</p>
            </button>
            <button class="navigation-button">
                <p class="text-navigation-button">A-Rea</p>
            </button>
        </div>
        <div class="user-button-container">
            <button class="user-button">
                <img class="user-icon" src="template-user.png" alt="user">
            </button>
        </div>
    </div>
</div>
