<div class="header-container">
    <div class="logo-container">
        <img class="logoKaizen" src="/kaizenLogo.png" alt="logo">
    </div>
    <div class="button-container">
        <div class="addArea-container">
            <button class="addArea-button" (click)="goToAreas()">
                <img class="addArea-picture" src="/header/addArea.png" alt="addArea">
            </button>
        </div>
        <div class="listArea-container">
            <button class="listArea-button" (click)="goToDashboard()">
                <img class="listArea-picture" src="/header/listArea.png" alt="listArea">
            </button>
        </div>
        <div class="profile-container">
            <button class="profile-button" (click)="handleUserIconButton()">
                <img class="profile-picture" src="/header/template-user.png" alt="user">
            </button>
        </div>
    </div>
    <app-login-servicse-popup *ngIf="showLoginPopup"></app-login-servicse-popup>
</div>
