<div class="center-header">
    <div class="header-container">
        <div class="logo-title-container">
            <img class="logo" src="homeImages/kaizenLogo.png" alt="logo">
        </div>
        <div class="navigation-button-container">
            <button class="navigation-button" (click)="handleHomeButtonClick()">
                <p class="text-navigation-button">Home</p>
            </button>
            <button class="navigation-button" (click)="handleAreaButtonClick()">
                <p class="text-navigation-button">A-Rea</p>
            </button>
        </div>
        <div class="user-button-container">
            <button class="user-button" (click)="handleUserIconButton()">
                <img class="user-icon" src="template-user.png" alt="user">
            </button>
        </div>
        <app-login-servicse-popup *ngIf="showLoginPopup"></app-login-servicse-popup>
    </div>
</div>
