.choice-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.choice-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.logo {
  width: 32px;
  height: 32px;
}