.choice-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  width: 95%;
  height: 100%;
  filter: drop-shadow(0px 1px 4px #2c2a2a);
}

.choice-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 50%;
  p {
    font-family: "Poppins-Medium";
    color: white;
    font-weight: bold;
  }
}

.logo {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0px 2px 4px #2c2a2a);
}