.a-rea-component {
    background-color: rgba(0, 0, 255, 0.323);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
}

.a-rea-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
}

.arrow {
    font-size: 2.5rem;
    color: black;
}
