<div class="popup-container">
    <div class="user-info-container">
        <p class="text-username">UserName</p>
        <p class="text-email">email.template&#64;qqc.com</p>
    </div>
    <div class="separator"></div>
    <div class="button-utils-container">
        <button class="button-utils">
            <div class="button-utils-content-container">
                <img src="user.png">
                <p class="text-button-style">Mon Profile</p>
                <img src="chevron-right.png">
            </div>
        </button>
        <button class="button-utils">
            <div class="button-utils-content-container">
                <img src="setting.png">
                <p class="text-button-style">Paramètres</p>
                <img src="chevron-right.png">
            </div>
        </button>
        <button class="button-utils">
            <div class="button-utils-content-container">
                <img src="log-out.png">
                <p class="text-button-style">Log out</p>
            </div>
        </button>
        <button class="button-utils">
            <div class="button-utils-content-container-api">
                <img src="spotify.png" class="logo-api">
                <p class="text-button-style-api">Se connecter</p>
            </div>
        </button>
        <button class="button-utils">
            <div class="button-utils-content-container-api">
                <img src="discord.png" class="logo-api">
                <p class="text-button-style-api">Se connecter</p>
            </div>
        </button>
        <button class="button-utils">
            <div class="button-utils-content-container-api">
                <img src="twitter.png" class="logo-api">
                <p class="text-button-style-api">Se connecter</p>
            </div>
        </button>
    </div>
</div>
