<div class="popup-container">


    <div class="user-info-container">
        <p class="text-username">{{ userName }}</p>
        <p class="text-email">{{ userEmail }}</p>
    </div>


    <div class="button-utils-container">
        <button class="button-utils">
            <div class="button-utils-content-container">
                <img src="user.png">
                <p class="text-button-style">Mon Profile</p>
                <img src="chevron-right.png">
            </div>
        </button>
        <button class="button-utils">
            <div class="button-utils-content-container">
                <img src="setting.png">
                <p class="text-button-style">Paramètres</p>
                <img src="chevron-right.png">
            </div>
        </button>
        <button class="button-utils" (click)="logoutButton()">
            <div class="button-utils-content-container">
                <img src="log-out.png">
                <p class="text-button-style">Log out</p>
            </div>
        </button>
    </div>

    <div class="services" >
        <div *ngFor="let service of getServiceEntries(services)" class="service">
            <app-login-service
                    *ngIf="service[1].connexion"
                    (connectToService)="chooseConnection(service[0])"
                    [serviceName]="service[0]"
                    [serviceColor]="service[1].color"
                    [serviceIcon]="service[1].icon"
                    [isConnected]="isConnectedToService(service[0])">
            </app-login-service>
        </div>
    </div>
</div>