.popup-container {
    width: 12%;
    height: 54%;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0.8%;
    top: 6.1%;
    background-color: rgba(34, 32, 32, 0.91);
    border-radius: 2vh;
}

.userInof-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 13%;
    border-radius: 2vh 2vh 0 0;
    background-color: #1E1E1E;
}

.text-username, .text-email {
    margin: 0;
    margin-left: 8%;
}

.text-username {
    display: flex;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    font-size: 80%;
}

.text-email {
    display: flex;
    color: #C4C4C4;
    font-family: 'KaizenRegular';
    font-size: 70%;
    margin-top: 3%;
}

.settings-container {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
}

.profile-button {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-icon {
    display: flex;
    height: 45%;
    width: auto;
    margin-left: 5%;
}

.profile-text {
    display: flex;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    font-size: 100%;
    margin-left: 7%;
}

.aide-button {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.aide-icon {
    display: flex;
    height: 45%;
    width: auto;
    margin-left: 5%;
}

.aide-text {
    display: flex;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    font-size: 100%;
    margin-left: 7%;
}

.telecharger-button {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.telecharger-icon {
    display: flex;
    height: 45%;
    width: auto;
    margin-left: 5%;
}

.telecharger-text {
    display: flex;
    color: #FFFFFF;
    font-family: 'KaizenRegular';
    font-size: 100%;
    margin-left: 7%;
}

.horizontal-line {
    width: 85%;
    background-color: #3F3F3F;
    height: 0.3%;
    border: none;
}

.services-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 46%;
}
  
.service-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logout-container {
    display: flex;
    width: 100%;
    height: 11%;
}

.logout-button {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    margin-top: -2%;
}

.logout-icon {
    display: flex;
    height: 45%;
    width: auto;
    margin-left: 7%;
}

.logout-text {
    display: flex;
    color: #C21A1A;
    font-family: 'KaizenRegular';
    font-size: 100%;
    margin-left: 7%;
}