<div class="popup-container">
    <div class="userInof-container">
        <p class="text-username">{{ userName }}</p>
        <p class="text-email">{{ userEmail }}</p>
    </div>
    <div class="settings-container">
        <button class="profile-button">
            <img class="profile-icon" src="/header/profile.png">
            <p class="profile-text">Gérer le profile</p>
        </button>
        <button class="aide-button">
            <img class="aide-icon" src="/header/aide.png">
            <p class="aide-text">Guide d’utilisation</p>
        </button>
        <button class="telecharger-button">
            <img class="telecharger-icon" src="/header/telecharger.png">
            <p class="telecharger-text">Télécharger l’app</p>
        </button>
    </div>
    <hr class="horizontal-line" style="margin-top: -5%;">
    <div class="services-container">
        <div *ngFor="let service of getServiceEntries(services)" class="service-item">
            <app-login-service
                *ngIf="service[1].connexion"
                (connectToService)="chooseConnection(service[0])"
                [serviceName]="service[0]"
                [serviceColor]="service[1].color"
                [serviceIcon]="service[1].icon"
                [isConnected]="isConnectedToService(service[0])">
            </app-login-service>
        </div>
    </div>

    <!-- <div class="services" >
        <div *ngFor="let service of getServiceEntries(services)" class="service">
            <app-login-service
                    *ngIf="service[1].connexion"
                    (connectToService)="chooseConnection(service[0])"
                    [serviceName]="service[0]"
                    [serviceColor]="service[1].color"
                    [serviceIcon]="service[1].icon"
                    [isConnected]="isConnectedToService(service[0])">
            </app-login-service>
        </div>
    </div> -->


        <!-- <button class="button-utils" (click)="logoutButton()">
            <div class="button-utils-content-container">
                <img src="log-out.png">
                <p class="text-button-style">Log out</p>
            </div>
        </button> -->
</div>